.DS_Store
*.swp
*.swo
*.log
*.iml
.idea
.project

node_modules/*
!node_modules/cordova-app-hello-world/
!node_modules/cordova-common/
!node_modules/cordova-create
!node_modules/cordova-fetch/
!node_modules/cordova-js/
!node_modules/cordova-lib/
!node_modules/cordova-registry-mapper/
!node_modules/cordova-serve/
!node_modules/weexpack-lib/

bower_components/
.svn/
.sass-cache/
npm-debug.log*
test/
coverage/
dist/
TODO/
node_modules/cordova-lib/node_modules/.bin/opener
node_modules/cordova-lib/node_modules/opener/
weexpackdemo/
